@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --main-color:#40b5cb;
  --sec-color:#62b138;
}

html, body {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.charactersline {
  display: flex;
  width: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.charactersline .character {
  width: 20vw;
  height: 50vw;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  margin: 0 10px;
}
.charactersline .character:nth-child(1) {
  background-image: url("../images/Characters/RickSanchez/03.png");
}
.charactersline .character:nth-child(2) {
  background-image: url("../images/Characters/MortySmith/06.png");
}
.charactersline .character:nth-child(3) {
  background-image: url("../images/Characters/BethSmith/03.png");
}
.charactersline .character:nth-child(4) {
  background-image: url("../images/Characters/JerrySmith/04.png");
}
.charactersline .character:nth-child(5) {
  background-image: url("../images/Characters/SummerSmith/01.png");
}
.charactersline .character:hover {
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 1s;
}
.charactersline .character:hover .filter {
  display: block;
}
.charactersline .filter {
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: none;
  position: relative;
}
.charactersline .filter .displayContent {
  width: 100%;
  height: 50%;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  display: none;
  color: white;
  transition-duration: 0.5s;
  transition-delay: 2s !important;
}
.charactersline .filter .displayContent h1 {
  font-size: 3rem;
}
.charactersline .filter .displayContent p {
  font-size: 1.2rem;
}
.charactersline .filter:hover .displayContent {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}