@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
@import "_mixin"



main
    background-color: #000
    +flex(column)
.banner
    min-height: 25vw
    width: 100%
    background-image: url('../images/login.png')
    background-size: cover
    background-position: center
.wrapper
    +flex
    +size(50vw,50vh,15px)
    min-height: 500px
    background: transparent
    border: 4px solid whitesmoke
    transition: .5s
    margin: 50px


    &:hover
        border: 4px solid var(--neon-blue-color)
        box-shadow: 0 0 20px var(--neon-blue-color),
         box-shadow: inset 0px 0px  20px #31c6d4

        h2
            color: var(--neon-blue-color)
            transition: .5s
    

        .input-box input
            border: 2px solid var(--neon-green-color)
            box-shadow: inset 0 0 20px var(--neon-green-color)
            box-shadow: 0 0 20px var(--neon-green-color),
    
        button
            background-color: #f01b1b
            transition: .5s
    
        .registration-link
            p
                a
                    color: #f01b1b
                    transition: .5s
            
        
    
        .input-box
            .icon
                i
                    color: var(--neon-blue-color)
            


h2
    font-size: 4rem
    color: var(--white-color)
    text-align: center
    transition: .5s

.input-box
    position: relative
    width: 100%
    margin: 30px 0
    

    .icon
        color: #fff
        position: absolute
        left: 15px
        top: 15px

    input
        +size(40vw,50px,1rem)
        background-color: transparent
        border: 2px solid var(--light-bacco)
        outline: none
        font-size: 1.5rem
        color: var(--white-color)
        padding: 0 10px 0 40px 
        transition: .5s
        &::placeholder
            color: rgba(white,.5)
    


.forgot-password
    a
        font-size: 1.5rem
        text-decoration: none
        color: var(--white-color)


button
    width: 100%
    padding: 10px 0px
    margin: 20px 0
    font-size: 2rem
    color: var(--white-color)
    background-color: var(--light-bacco)
    border: none

    &:hover
        cursor: pointer


.registration-link
    text-align: center
    p
        color: var(--white-color)
        font-size: 1.5rem

        a
            text-decoration: none
            color: var(--light-bacco)
    


@media screen and (max-width:1024px)
    .wrapper
        h2
            font-size: 3rem
    

    .input-box
        input
            width:40vw
    


@media screen and (max-width:768px)
    .wrapper
        h2
            font-size: 2.5rem
    

    form
        .input-box
            margin:20px 30px 
    
        .forgot-password
            margin:20px 30px 
    
        .registration-link
            margin:20px 30px 
    

    button
        width: 80%
        margin:0px 30px
